In [1]:
import pandas as pd

from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')


def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]

In [5]:
data = pd.read_csv("final3.csv")

In [3]:
data

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG,공시지가평균,공시지가중앙값,위도,경도
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10,1.822368e+06,1815000,35.872512,128.603490
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10,2.258040e+06,2124000,35.869132,128.603262
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10,1.471884e+06,1389000,35.872157,128.609925
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10,1.587672e+06,1408000,35.867700,128.610300
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65,7.121207e+06,4793000,35.866299,128.598363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN,5.239890e+04,34900,NaN,NaN
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN,2.222184e+04,18850,NaN,NaN
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN,2.928892e+04,22200,NaN,NaN
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN,2.046077e+04,16100,NaN,NaN
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN,1.394696e+04,9820,NaN,NaN

In [6]:
data['LPG충전소'].sum()

67

In [75]:
donggu = pd.read_csv("suseonggu.csv")

donggu

,사업구분,상호,영업소소재지(도로명),영업소소재지(지번),영업소전화번호,기준일
0,일반판매소,SK수성대경대흥석유,대구광역시 수성구 수성로12길 68-14 (상동),대구광역시 수성구 상동 339 번지2 호,053-767-7323,2024-09-13
1,일반판매소,한솔석유,대구광역시 수성구 국채보상로 1026 (만촌동),대구광역시 수성구 만촌동 965 번지1 호,053-742-5151,2024-09-13
2,일반판매소,수산석유,대구광역시 수성구 동대구로29길 54-41 (황금동),대구광역시 수성구 황금동 868 번지7 호,053-756-2925,2024-09-13
3,일반판매소,만촌하나석유,대구광역시 수성구 국채보상로192길 11 (범어동),대구광역시 수성구 범어동 428 번지3 호14 통2 반,053-741-2017,2024-09-13
4,일반판매소,자연에너지,대구광역시 수성구 희망로19길 6 (중동),대구광역시 수성구 중동 537 번지16 호,053-762-5510,2024-09-13
5,일반판매소,파동에너지,대구광역시 수성구 파동로38길 45 (파동),대구광역시 수성구 파동 110 번지136 호,053-252-4089,2024-09-13
6,일반판매소,금호석유,대구광역시 수성구 국채보상로192길 14 (범어동),대구광역시 수성구 범어동 435 번지22 호,053-745-8809,2024-09-13
7,일반판매소,삼우에너지,대구광역시 수성구 범어로32길 10 (범어동),대구광역시 수성구 범어동 396 번지3 호,080-080-3009,2024-09-13
8,일반판매소,부강에너지,대구광역시 수성구 교학로16길 4 (만촌동),대구광역시 수성구 만촌동 876 번지37 호,053-752-5658,2024-09-13
9,일반판매소,대림석유,대구광역시 수성구 범안로2길 3-9 (범물동),대구광역시 수성구 범물동 1362 번지19 호,053-741-8025,2024-09-13
10,일반판매소,극동석유,대구광역시 수성구 교학로11길 43-3 (만촌동),대구광역시 수성구 만촌동 869 번지28 호,053-745-0444,2024-09-13
11,주유소,수성현대셀프주유소,대구광역시 수성구 동대구로 74 (지산동),대구광역시 수성구 지산동 997 번지2 호,053-767-5142,2024-09-13
12,주유소,에스제이주유소,대구광역시 수성구 달구벌대로 2650 (만촌동),"대구광역시 수성구 만촌동 854 번지4 호,7호",053-751-5151,2024-09-13
13,주유소,지에스칼텍스(주) 삼보주유소,대구광역시 수성구 무학로 61 (상동),"대구광역시 수성구 상동 409 번지 2호,3호,7호",053-764-3551,2024-09-13
14,주유소,경북광유(주)중앙2주유소,"대구광역시 수성구 화랑로 138 (만촌동,외 3필지)","대구광역시 수성구 만촌동 1330 번지4 호, 42호, 43호, 44호",053-745-0049,2024-09-13
15,주유소,신세계주유소,"대구광역시 수성구 파동로 159 (파동,외 27-314번지, 581-158번지)","대구광역시 수성구 파동 27 번지33 호외 27-314번지, 581-158번지",053-763-7894,2024-09-13
16,주유소,메트로팔레스주유소,대구광역시 수성구 화랑로 20 (만촌동),대구광역시 수성구 만촌동 414 번지18 호14 통6 반,053-754-1001,2024-09-13
17,주유소,지에스칼텍스(주)황금캐슬주유소,"대구광역시 수성구 청수로 172 (지산동, 932,933-1)",대구광역시 수성구 지산동 932 번지외 1필지(933-1번지),053-765-7100,2024-09-13
18,주유소,그린주유소,대구광역시 수성구 달구벌대로 2899 (연호동),대구광역시 수성구 연호동 154 번지94 호,053-792-0891,2024-09-13
19,주유소,문화주유소,대구광역시 수성구 청호로 93 (지산동),"대구광역시 수성구 지산동 103 번지3 호,103번지",053-782-3300,2024-09-13
20,주유소,지에스칼텍스(주)화남주유소,대구광역시 수성구 달구벌대로 3063 (시지동),대구광역시 수성구 시지동 170 번지5 호,053-791-8900,2024-09-13
21,주유소,태영주유소,대구광역시 수성구 국채보상로 964 (범어동),대구광역시 수성구 범어동 428 번지4 호428-13번지,053-741-3059,2024-09-13
22,주유소,샛별주유소,대구광역시 수성구 무열로 73 (만촌동),대구광역시 수성구 만촌동 994 번지40 호17 통5 반,053-742-9666,2024-09-13
23,주유소,수성착한주유소,"대구광역시 수성구 신천동로 85 (상동,외6필지)",대구광역시 수성구 상동 208 번지외6필지,053-768-5100,2024-09-13
24,주유소,한일주유소,대구광역시 수성구 청수로 162 (지산동),대구광역시 수성구 지산동 942 번지,053-768-2654,2024-09-13
25,주유소,구도일주유소 무열로,"대구광역시 수성구 무열로 181 (만촌동, 617-14)",대구광역시 수성구 만촌동 617 번지14 호,053-754-5915,2024-09-13
26,주유소,하나주유소,"대구광역시 수성구 달구벌대로 3299 (사월동,외 1필지(411-8번지))",대구광역시 수성구 사월동 411 번지5 호외 1필지(411-8번지),053-795-1034,2024-09-13
27,주유소,버디클럽오일뱅크,"대구광역시 수성구 무학로 12 (상동, 611-8.13.14.17.18)",대구광역시 수성구 상동 611-8.13.14.17.18,053-768-2600,2024-09-13
28,주유소,흥구동신주유소,대구광역시 수성구 청수로 94 (두산동),대구광역시 수성구 두산동 8 번지,053-768-8383,2024-09-13
29,주유소,지에스칼텍스(주)황금기름창고주유소,대구광역시 수성구 청수로 89 (황금동),"대구광역시 수성구 황금동 887 번지1 호,5호",053-766-5151,2024-09-13
30,주유소,한결주유소,"대구광역시 수성구 지범로 50 (두산동,740-13번지 외 총2필지)",대구광역시 수성구 두산동 740 번지9 호740-13번지 외 총2필지,053-783-6886,2024-09-13
31,주유소,(주)담티주유소,"대구광역시 수성구 달구벌대로 2689 (만촌동,외2필지)","대구광역시 수성구 만촌동 754 번지2 호외2필지(754번지4호,1250번지1호)",053-745-5189,2024-09-13
32,주유소,파동주유소,대구광역시 수성구 파동로 71 (파동),대구광역시 수성구 파동 506 번지4 호506-7번지 504-4번지,053-768-8182,2024-09-13
33,주유소,대림주유소,대구광역시 수성구 용학로 244 (지산동),대구광역시 수성구 지산동 1205 번지3 호,053-781-5151,2024-09-13
34,주유소,사랑가득주유소,"대구광역시 수성구 동대구로 221 (황금동, 670-1)",대구광역시 수성구 황금동 670 번지1 호,053-767-1010,2024-09-13
35,주유소,가든주유소,대구광역시 수성구 청호로 417 (범어동),대구광역시 수성구 범어동 97 번지11 호,053-741-5152,2024-09-13
36,주유소,노변주유소,"대구광역시 수성구 달구벌대로 3142 (노변동,시지동390-11, 시지동390-166)","대구광역시 수성구 노변동 4 번지시지동390-11, 시지동390-166",053-791-5493,2024-09-13
37,주유소,기분좋은주유소,대구광역시 수성구 희망로 101-1 (중동),대구광역시 수성구 중동 537 번지21 호,053-767-6051,2024-09-13
38,주유소,구도일주유소 수성,대구광역시 수성구 달구벌대로 2457 (범어동),대구광역시 수성구 범어동 165 번지17 호,053-752-4071,2024-09-13
39,주유소,수성주유소,대구광역시 수성구 수성로 1 (상동),"대구광역시 수성구 상동 623 번지2 호,623-10번지",053-764-3030,2024-09-13
40,주유소,대한주유소,대구광역시 수성구 달구벌대로 3322 (신매동),대구광역시 수성구 신매동 10 번지40 호4 통1 반,053-814-0088,2024-09-13
41,주유소,한국광유(주)남부주유소,대구광역시 수성구 달구벌대로 2626 (만촌동),대구광역시 수성구 만촌동 853 번지,053-754-1127,2024-09-13
42,주유소,흥구석유(주)만촌주유소,"대구광역시 수성구 화랑로 170 (만촌동,1331-14호)",대구광역시 수성구 만촌동 1331 번지13 호1331-14호,053-743-3514,2024-09-13
43,주유소,대성산업(주)대경주유소,대구광역시 수성구 달구벌대로 3219 (신매동),"대구광역시 수성구 신매동 365 번지1 호,6호",053-792-0612,2024-09-13
44,주유소,한국광유(주)청기와 주유소,대구광역시 수성구 화랑로 222 (만촌동),대구광역시 수성구 만촌동 132 번지3 호,053-941-4422,2024-09-13

In [30]:
import re

In [85]:
gunwi = ['경상북도 군위군 군위읍', 
 '경상북도 군위군 소보면',
 '경상북도 군위군 효령면',
 '경상북도 군위군 부계면',
 '경상북도 군위군 우보면',
 '경상북도 군위군 의흥면',
 '경상북도 군위군 산성면',
 '경상북도 군위군 고로면']

In [78]:
# lpg_addr['ADDR'] = lpg_addr['ADDR'].apply(lambda x : re.split(r'd+', x)[0])

donggu['영업소소재지(도로명)'] = donggu['영업소소재지(도로명)'].str.extract(r'(.+\d+)', expand=False)

donggu['영업소소재지(도로명)'] = donggu['영업소소재지(도로명)'].apply(lambda x : x.split('(')[0])

In [84]:
donggu.to_csv("suseonggu_edit.csv", index=False, encoding='utf-8-sig')

In [86]:
latitude = []
longitude =[]

for i in gunwi:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])


# donggu['lati'] = latitude
# donggu['longi'] = longitude

In [87]:
latitude

[0, 0, 0, 0, 0, 0, 0, 0]

In [38]:
len(set(lpg_addr['lati']))

51

In [24]:
data = pd.read_csv("data_merge.csv")

data

,지도코드,지도_동,시,구,동,행정코드,총교통량,개인승용차교통량,버스교통량,화물차교통량,...,공시지가평균,공시지가중앙값,위도,경도,주유소_최솟값,주유소_최소3개평균,주유소_최소5개평균,lpg_최솟값,lpg_최소3개평균,lpg_최소5개평균
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,1.822368e+06,1815000,35.872512,128.603490,160.104964,257.902790,502.583592,486.155643,763.695758,1125.051293
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,2.258040e+06,2124000,35.869132,128.603262,238.760798,329.500299,538.704477,491.915628,665.997711,1006.261849
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,1.471884e+06,1389000,35.872157,128.609925,391.135403,492.603962,715.889173,167.399122,556.415546,900.867252
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,1.587672e+06,1408000,35.867700,128.610300,654.713517,734.851868,839.245540,179.360165,495.965726,775.384774
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,...,7.121207e+06,4793000,35.866299,128.598363,415.554043,608.922175,796.814023,527.363507,843.730502,1278.244035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,...,5.239890e+04,34900,36.100888,128.664216,14289.371120,14289.371120,14641.106090,223.255160,6269.155607,9724.462399
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,...,2.222184e+04,18850,36.195001,128.661842,24562.782750,24562.782750,24940.156130,8845.236851,8893.443176,9231.101310
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,...,2.928892e+04,22200,36.174599,128.685456,22688.573680,22688.573680,22835.333360,8318.093854,10104.396090,10674.681430
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,...,2.046077e+04,16100,36.122134,128.694130,17207.681050,17240.036220,17265.920350,3638.110239,7699.991046,10653.409230
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,...,1.394696e+04,9820,36.177307,128.839564,26548.604720,27087.667930,27518.918510,16405.366220,19790.106850,21862.767580

In [13]:
import geopy.distance

In [20]:
oil_station = pd.read_csv("oil_station.csv")

oil_station

            위도          경도
0    35.892260  128.643400
1    35.890110  128.648600
2    35.900520  128.629200
3    35.883800  128.660700
4    35.870370  128.726900
..         ...         ...
333  35.837519  128.531417
334  35.837765  128.535023
335  35.814039  128.524970
336  35.820177  128.541045
337  35.851392  128.498328

[338 rows x 2 columns]

In [21]:
import pandas as pd
from geopy.distance import geodesic


# 거리 계산 결과를 저장할 리스트
distances = []

# 행정동과 주유소 간 거리 계산
for i, dong_row in data.iterrows():
    if dong_row['주유소_최솟값'] > 0:
        continue
    for j, gas_row in oil_station.iterrows():
        dong_coord = (dong_row['위도'], dong_row['경도'])
        gas_coord = (gas_row['위도'], gas_row['경도'])
        distance = geodesic(dong_coord, gas_coord).meters  # 거리(m)
        distances.append([i, j, distance])

# 결과를 데이터프레임으로 변환
df_distances = pd.DataFrame(distances, columns=['행정동_index', 'oil_index', '거리(m)'])
print(df_distances)

      행정동_index  oil_index         거리(m)
0            28          0   5696.892057
1            28          1   6082.460163
2            28          2   4921.087959
3            28          3   7032.800989
4            28          4  12984.120354
...         ...        ...           ...
1009        167        333  11671.236514
1010        167        334  11344.386888
1011        167        335  12663.467837
1012        167        336  11087.846908
1013        167        337  14667.911643

[1014 rows x 3 columns]

In [97]:
df_distances.to_csv("distance.csv", index=False, encoding='utf-8-sig')

In [106]:
df_distances['거리(m)'].min()

37.27445484944126

In [22]:

# 1. 행정동별로 주유소 간 거리의 최솟값
min_distance = df_distances.groupby('행정동_index')['거리(m)'].min().reset_index()
min_distance.columns = ['행정동_index', '최솟값']

# 2. 행정동별로 가장 작은 거리 3개의 평균
top3_mean_distance = (
    df_distances.groupby('행정동_index')['거리(m)']
    .apply(lambda x: x.nsmallest(3).mean())
    .reset_index()
)
top3_mean_distance.columns = ['행정동_index', '가장 작은 거리 3개 평균']

# 3. 행정동별로 가장 작은 거리 5개의 평균
top5_mean_distance = (
    df_distances.groupby('행정동_index')['거리(m)']
    .apply(lambda x: x.nsmallest(5).mean())
    .reset_index()
)
top5_mean_distance.columns = ['행정동_index', '가장 작은 거리 5개 평균']

# 결과를 하나의 데이터프레임으로 합치기
result = min_distance.merge(top3_mean_distance, on='행정동_index').merge(top5_mean_distance, on='행정동_index')
print(result)

   행정동_index          최솟값  가장 작은 거리 3개 평균  가장 작은 거리 5개 평균
0         28   560.103027      673.659181      735.787281
1        165  2026.431353     2303.241632     2500.483201
2        167   978.753763     1130.062718     1272.043983

In [108]:
result.to_csv("access_lpg.csv", index=False, encoding='utf-8-sig')

In [53]:
data = pd.read_csv("data_merge.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지도코드        212 non-null    int64
 1   지도_동        212 non-null    object
 2   시           212 non-null    object
 3   구           212 non-null    object
 4   동           212 non-null    object
 5   행정코드        212 non-null    int64
 6   총교통량        212 non-null    float64
 7   개인승용차교통량    212 non-null    float64
 8   버스교통량       212 non-null    float64
 9   화물차교통량      212 non-null    float64
 10  혼잡빈도강도      212 non-null    float64
 11  주유소_개수      212 non-null    int64
 12  LPG충전소_개수   212 non-null    int64
 13  인구밀도        212 non-null    object
 14  혼잡시간강도      212 non-null    float64
 15  공시지가평균      212 non-null    float64
 16  공시지가중앙값     212 non-null    int64
 17  위도          212 non-null    float64
 18  경도          212 non-null    float64
 19  주유소_최솟값     212 non-null    float64
 20  주유소_최소3개평균  212 non-null    float64
 21  주유소_최소5개평균  212 non-null    float64
 22  lpg_최솟값     212 non-null    float64
 23  lpg_최소3개평균  212 non-null    float64
 24  lpg_최소5개평균  212 non-null    float64
dtypes: float64(15), int64(5), object(5)
memory usage: 41.5+ KB

In [39]:
sanggun = pd.read_csv("상권.csv")

sanggun

,Unnamed: 0,EMD_CD,EMD_KOR_NM,주유소,과학·기술,교육,보건의료,부동산,소매,수리·개인,숙박,시설관리·임대,예술·스포츠,음식,상업수
0,0,27110101,동인동1가,2,24.0,1.0,0.0,3.0,26.0,5.0,1.0,33.0,2.0,61.0,156.0
1,1,27110102,동인동2가,1,33.0,7.0,2.0,7.0,33.0,11.0,9.0,41.0,5.0,86.0,234.0
2,2,27110103,동인동3가,0,62.0,5.0,0.0,5.0,48.0,28.0,1.0,14.0,4.0,20.0,187.0
3,3,27110104,동인동4가,0,65.0,7.0,1.0,9.0,72.0,54.0,0.0,17.0,9.0,156.0,390.0
4,4,27110105,삼덕동1가,0,30.0,13.0,25.0,16.0,188.0,54.0,2.0,7.0,43.0,255.0,633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,207,27720330,부계면,3,3.0,2.0,0.0,11.0,35.0,6.0,27.0,1.0,4.0,76.0,165.0
208,208,27720340,우보면,2,3.0,0.0,0.0,2.0,17.0,5.0,1.0,1.0,1.0,18.0,48.0
209,209,27720350,의흥면,4,1.0,0.0,0.0,3.0,30.0,9.0,2.0,0.0,2.0,37.0,84.0
210,210,27720360,산성면,3,2.0,0.0,0.0,0.0,16.0,3.0,2.0,1.0,2.0,20.0,46.0
211,211,27720370,삼국유사면,2,1.0,1.0,0.0,0.0,7.0,0.0,8.0,2.0,0.0,15.0,34.0

In [41]:
data_merge = pd.merge(left = data, right = sanggun, how = 'left', left_on = '지도코드', right_on = 'EMD_CD')

data_merge

,지도코드,지도_동,시,구,동,행정코드,총교통량,개인승용차교통량,버스교통량,화물차교통량,...,교육,보건의료,부동산,소매,수리·개인,숙박,시설관리·임대,예술·스포츠,음식,상업수
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,1.0,0.0,3.0,26.0,5.0,1.0,33.0,2.0,61.0,156.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,7.0,2.0,7.0,33.0,11.0,9.0,41.0,5.0,86.0,234.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,5.0,0.0,5.0,48.0,28.0,1.0,14.0,4.0,20.0,187.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,7.0,1.0,9.0,72.0,54.0,0.0,17.0,9.0,156.0,390.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,...,13.0,25.0,16.0,188.0,54.0,2.0,7.0,43.0,255.0,633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,...,2.0,0.0,11.0,35.0,6.0,27.0,1.0,4.0,76.0,165.0
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,...,0.0,0.0,2.0,17.0,5.0,1.0,1.0,1.0,18.0,48.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,...,0.0,0.0,3.0,30.0,9.0,2.0,0.0,2.0,37.0,84.0
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,...,0.0,0.0,0.0,16.0,3.0,2.0,1.0,2.0,20.0,46.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,...,1.0,0.0,0.0,7.0,0.0,8.0,2.0,0.0,15.0,34.0

In [42]:
data_merge.columns

Index(['지도코드', '지도_동', '시', '구', '동', '행정코드', '총교통량', '개인승용차교통량', '버스교통량',
       '화물차교통량', '혼잡빈도강도', '주유소_개수', 'LPG충전소_개수', '인구밀도', '혼잡시간강도', '공시지가평균',
       '공시지가중앙값', '위도', '경도', '주유소_최솟값', '주유소_최소3개평균', '주유소_최소5개평균', 'lpg_최솟값',
       'lpg_최소3개평균', 'lpg_최소5개평균', 'Unnamed: 0', 'EMD_CD', 'EMD_KOR_NM', '주유소',
       '과학·기술', '교육', '보건의료', '부동산', '소매', '수리·개인', '숙박', '시설관리·임대', '예술·스포츠',
       '음식', '상업수'],
      dtype='object')

In [57]:
data_merge.to_csv("data_merge.csv", index=False, encoding='utf-8-sig')

In [43]:
data_merge = data_merge.drop(['Unnamed: 0', 'EMD_CD', 'EMD_KOR_NM'], axis=1)

In [44]:
gu_data = pd.read_csv("구별데이터병합.csv")

gu_data

   Unnamed: 0 시군구별  경제활동인구  화재발생건수     수소      LPG     전체차량수
0           0   중구   48000      73   20.0   3366.0   61899.0
1           1   동구  168000     179  101.0  16622.0  175595.0
2           2   서구   82000     127   38.0   7475.0   76907.0
3           3   남구   70000      67   29.0   5345.0   56372.0
4           4   북구  221000     221  116.0  18573.0  210853.0
5           5  수성구  186000     123   93.0  13867.0  221717.0
6           6  달서구  276000     243  184.0  23651.0  294095.0
7           7  달성군  142000     218   96.0  11197.0  146392.0
8           8  군위군   15000      42    4.0   1093.0   16046.0

In [45]:
gu_data = gu_data.drop('Unnamed: 0', axis = 1)

In [125]:
gu_data

  시군구별  경제활동인구  화재발생건수     수소      LPG     전체차량수
0   중구   48000      73   20.0   3366.0   61899.0
1   동구  168000     179  101.0  16622.0  175595.0
2   서구   82000     127   38.0   7475.0   76907.0
3   남구   70000      67   29.0   5345.0   56372.0
4   북구  221000     221  116.0  18573.0  210853.0
5  수성구  186000     123   93.0  13867.0  221717.0
6  달서구  276000     243  184.0  23651.0  294095.0
7  달성군  142000     218   96.0  11197.0  146392.0
8  군위군   15000      42    4.0   1093.0   16046.0

In [46]:
import pandas as pd

# '구' 컬럼을 기준으로 합치기
gu_merge = pd.merge(gu_data, data_merge, how='left', left_on = '시군구별', right_on = '구')

# 수치형 컬럼에 대해서만 평균 계산
numeric_cols = gu_merge.select_dtypes(include='number').columns
result_df = gu_merge.groupby('구', as_index=False)[numeric_cols].mean()

# 문자열 컬럼은 첫 번째 값으로 유지
string_cols = gu_merge.select_dtypes(exclude='number').columns
for col in string_cols:
    result_df[col] = gu_merge.groupby('구', as_index=False)[col].first()[col]

print(result_df)

     구    경제활동인구  화재발생건수     수소      LPG     전체차량수          지도코드  \
0  군위군   15000.0    42.0    4.0   1093.0   16046.0  2.772033e+07
1   남구   70000.0    67.0   29.0   5345.0   56372.0  2.720010e+07
2  달서구  276000.0   243.0  184.0  23651.0  294095.0  2.729011e+07
3  달성군  142000.0   218.0   96.0  11197.0  146392.0  2.771028e+07
4   동구  168000.0   179.0  101.0  16622.0  175595.0  2.714012e+07
5   북구  221000.0   221.0  116.0  18573.0  210853.0  2.723012e+07
6   서구   82000.0   127.0   38.0   7475.0   76907.0  2.717010e+07
7  수성구  186000.0   123.0   93.0  13867.0  221717.0  2.726011e+07
8   중구   48000.0    73.0   20.0   3366.0   61899.0  2.711013e+07

           행정코드          총교통량      개인승용차교통량  ...         숙박     시설관리·임대  \
0  3.731031e+06   4060.750000   2540.500000  ...   6.875000    3.000000
1  2.204053e+06   8718.875000   7505.916667  ...  19.666667  109.333333
2  2.207063e+06   8578.166667   6830.145833  ...   5.625000   28.833333
3  2.231020e+06   4825.333333   3431.111111  ...   7.222222   29.888889
4  2.202070e+06   9012.894444   6704.927778  ...   4.409091   10.909091
5  2.205071e+06   9836.435484   7553.161290  ...   3.580645   15.387097
6  2.203063e+06  13072.666667  10017.422222  ...  11.888889   33.666667
7  2.206067e+06   8824.025641   7239.903846  ...   2.692308   20.500000
8  2.201059e+06   8574.409357   7214.263158  ...   2.245614    8.701754

      예술·스포츠          음식          상업수  시군구별   지도_동      시    동         인구밀도
0   3.750000   49.875000   135.750000   군위군    군위읍   경상북도  군위읍  94.58784346
1  82.666667  834.666667  2593.666667    남구    이천동  대구광역시  이천동  11698.16514
2  47.833333  299.375000   863.625000   달서구    성당동  대구광역시  성당동  10784.42211
3  46.444444  362.000000   933.444444   달성군    화원읍  대구광역시  화원읍  1662.138728
4  13.545455  109.636364   321.363636    동구    신암동  대구광역시  신암동  16552.87009
5  26.096774  187.580645   532.161290    북구  칠성동1가  대구광역시  칠성동         3076
6  33.555556  293.111111   858.111111    서구    내당동  대구광역시  내당동     18708.02
7  30.884615  208.500000   677.115385   수성구    범어동  대구광역시  범어동     18349.35
8   4.526316   60.315789   238.491228    중구  동인동1가  대구광역시  동인동  13277.77778

[9 rows x 43 columns]

In [49]:
result_df.to_csv("final_gu_result.csv", index=False, encoding='utf-8-sig')

In [48]:
result_df = result_df.drop(['지도코드', '행정코드', '위도', '경도', '시군구별', '지도_동', '시', '동'], axis = 1)

In [55]:
numeric_df = result_df.select_dtypes(include='number')

# 상관분석 수행
corr_df = numeric_df.corr()

In [56]:
corr_df.to_csv("corr_df.csv", encoding='utf-8-sig')

In [36]:
result_df = pd.read_csv("final_gu_result.csv")

result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   구           9 non-null      object
 1   경제활동인구      9 non-null      float64
 2   화재발생건수      9 non-null      float64
 3   수소          9 non-null      float64
 4   LPG         9 non-null      float64
 5   전체차량수       9 non-null      float64
 6   총교통량        9 non-null      float64
 7   개인승용차교통량    9 non-null      float64
 8   버스교통량       9 non-null      float64
 9   화물차교통량      9 non-null      float64
 10  혼잡빈도강도      9 non-null      float64
 11  주유소_개수      9 non-null      float64
 12  LPG충전소_개수   9 non-null      float64
 13  혼잡시간강도      9 non-null      float64
 14  공시지가평균      9 non-null      float64
 15  공시지가중앙값     9 non-null      float64
 16  주유소_최솟값     9 non-null      float64
 17  주유소_최소3개평균  9 non-null      float64
 18  주유소_최소5개평균  9 non-null      float64
 19  lpg_최솟값     9 non-null      float64
 20  lpg_최소3개평균  9 non-null      float64
 21  lpg_최소5개평균  9 non-null      float64
 22  과학·기술       9 non-null      float64
 23  교육          9 non-null      float64
 24  보건의료        9 non-null      float64
 25  부동산         9 non-null      float64
 26  소매          9 non-null      float64
 27  수리·개인       9 non-null      float64
 28  숙박          9 non-null      float64
 29  시설관리·임대     9 non-null      float64
 30  예술·스포츠      9 non-null      float64
 31  음식          9 non-null      float64
 32  상업수         9 non-null      float64
 33  인구밀도        9 non-null      float64
dtypes: float64(33), object(1)
memory usage: 2.5+ KB

In [2]:
import pandas as pd

In [54]:
result_df['인구밀도'] = result_df['인구밀도'].str.replace(',', '').astype(float)