In [1]:
import pandas as pd

In [18]:
loc_code = pd.read_csv("loc_code.csv")

In [19]:
loc_code

        si   gu  dong     code
0    대구광역시   중구   삼덕동  2201054
1    대구광역시   중구  성내1동  2201056
2    대구광역시   중구  성내2동  2201059
3    대구광역시   중구  성내3동  2201061
4    대구광역시   중구   대신동  2201062
..     ...  ...   ...      ...
145   경상북도  군위군   부계면  3731033
146   경상북도  군위군   우보면  3731034
147   경상북도  군위군   의흥면  3731035
148   경상북도  군위군   산성면  3731036
149   경상북도  군위군   고로면  3731037

[150 rows x 4 columns]

In [20]:
map_code = pd.read_csv("data_merge.csv")

In [21]:
map_code

,si_x,gu_x,dong_x,code_x,EMD_CD,EMD_KOR_NM,new_kor,si_y,gu_y,dong_y,code_y,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,대구광역시,중구,동인동,2201070.0,27110101,동인동1가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
1,대구광역시,중구,동인동,2201070.0,27110102,동인동2가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
2,대구광역시,중구,동인동,2201070.0,27110103,동인동3가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
3,대구광역시,중구,동인동,2201070.0,27110104,동인동4가,동인동,대구광역시,중구,동인동,2201070.0,11508.0,9861.0,427.0,1221.0
4,대구광역시,중구,삼덕동,2201054.0,27110105,삼덕동1가,삼덕동,대구광역시,중구,삼덕동,2201054.0,16679.0,14398.0,537.0,1744.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,경상북도,군위군,부계면,3731033.0,27720330,부계면,부계면,경상북도,군위군,부계면,3731033.0,5394.0,3369.0,116.0,1908.0
208,경상북도,군위군,우보면,3731034.0,27720340,우보면,우보면,경상북도,군위군,우보면,3731034.0,1900.0,1250.0,33.0,617.0
209,경상북도,군위군,의흥면,3731035.0,27720350,의흥면,의흥면,경상북도,군위군,의흥면,3731035.0,1594.0,1017.0,30.0,547.0
210,경상북도,군위군,산성면,3731036.0,27720360,산성면,산성면,경상북도,군위군,산성면,3731036.0,2671.0,1540.0,65.0,1067.0
211,경상북도,군위군,고로면,3731037.0,27720370,삼국유사면,고로면,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# data_merge = pd.merge(left = loc_code, right = map_code[['EMD_CD', 'EMD_KOR_NM', 'new_kor']], how = 'right', left_on = 'dong', right_on = 'new_kor')
data_merge = pd.merge(left = map_code[['EMD_CD', 'EMD_KOR_NM', 'new_kor']], right = loc_code, how = 'left', left_on = 'new_kor', right_on = 'dong')

data_merge

       EMD_CD EMD_KOR_NM new_kor     si   gu dong       code
0    27110101      동인동1가     동인동  대구광역시   중구  동인동  2201070.0
1    27110102      동인동2가     동인동  대구광역시   중구  동인동  2201070.0
2    27110103      동인동3가     동인동  대구광역시   중구  동인동  2201070.0
3    27110104      동인동4가     동인동  대구광역시   중구  동인동  2201070.0
4    27110105      삼덕동1가     삼덕동  대구광역시   중구  삼덕동  2201054.0
..        ...        ...     ...    ...  ...  ...        ...
207  27720330        부계면     부계면   경상북도  군위군  부계면  3731033.0
208  27720340        우보면     우보면   경상북도  군위군  우보면  3731034.0
209  27720350        의흥면     의흥면   경상북도  군위군  의흥면  3731035.0
210  27720360        산성면     산성면   경상북도  군위군  산성면  3731036.0
211  27720370      삼국유사면     고로면   경상북도  군위군  고로면  3731037.0

[212 rows x 7 columns]

In [23]:
data_merge = data_merge.drop('new_kor', axis = 1)

In [7]:
traffic = pd.read_csv("estimate_traffic.csv")

traffic

,sido_code,sigungu_code,emd_code,week_type,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,11000,11010,1101053,weekday,13404,11442,576,1385
1,11000,11010,1101054,weekday,8751,7861,247,644
2,11000,11010,1101055,weekday,9707,8477,402,828
3,11000,11010,1101056,weekday,19229,17431,382,1417
4,11000,11010,1101057,weekday,20422,17117,1561,1744
...,...,...,...,...,...,...,...,...
3452,39000,39020,3902058,weekday,6097,5103,226,769
3453,39000,39020,3902059,weekday,5019,4132,224,663
3454,39000,39020,3902060,weekday,5767,4845,220,702
3455,39000,39020,3902061,weekday,4662,3884,155,622
3456,39000,39020,3902062,weekday,5448,4548,178,722

In [25]:
data_merge = pd.merge(left = data_merge, right = traffic[['emd_code', 'ALL_AADT', 'PSCR_AADT', 'BUS_AADT', 'FGCR_AADT']], how = 'left', left_on = 'code', right_on = 'emd_code')

data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,emd_code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,27110101,동인동1가,대구광역시,중구,동인동,2201070.0,2201070.0,11508.0,9861.0,427.0,1221.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070.0,2201070.0,11508.0,9861.0,427.0,1221.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070.0,2201070.0,11508.0,9861.0,427.0,1221.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070.0,2201070.0,11508.0,9861.0,427.0,1221.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054.0,2201054.0,16679.0,14398.0,537.0,1744.0
...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033.0,3731033.0,5394.0,3369.0,116.0,1908.0
208,27720340,우보면,경상북도,군위군,우보면,3731034.0,3731034.0,1900.0,1250.0,33.0,617.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035.0,3731035.0,1594.0,1017.0,30.0,547.0
210,27720360,산성면,경상북도,군위군,산성면,3731036.0,3731036.0,2671.0,1540.0,65.0,1067.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037.0,NaN,NaN,NaN,NaN,NaN

In [26]:
data_merge = data_merge.drop('emd_code', axis = 1)

In [27]:
data_merge.to_csv("data_merge.csv", index=False, encoding='utf-8-sig')

In [11]:
data_merge = pd.read_csv("data_merge_covered.csv")

In [12]:
data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0
...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,NaN,NaN,NaN,NaN

In [63]:
merge_dic = {
    2201064 : [2201065, 2201066, 2201067],
    2201068 : [2201069],
    2202051 : [2202052, 2202053, 2202054, 2202055],
    2202056 : [2202058, 2202059],
    2202060 : [2202061],
    2203051 : [2203052, 2203053],
    2203054 : [2203055, 2203056, 2203057, 2203058, 2203059],
    2203060 : [2203061, 2203062, 2203063, 2203064, 2203065],
    2204053 : [2204054, 2204055],
    2204056 : [2204057, 2204058, 2204059, 2204060, 2204061, 2204064, 2204065, 2204066],
    2205055 : [2205056, 2205057],
    2205061 : [2205062, 2205063, 2205064],
    2205065 : [2205066],
    2205074 : [2205078],
    2206051 : [2206052, 2206053, 2206054],
    2206055 : [2206056, 2206057],
    2206061 : [2206062],
    2206067 : [2206068],
    2206069 : [2206070],
    2207055 : [2207076],
    2207060 : [2207074],
    2207072 : [2207073],
    2207065 : [2207066, 2207067],
    2207069 : [2207070],
    3731037 : [3731038]
}

In [65]:
# 코드 실행
for key, value_list in merge_dic.items():
    # df1에서 'code'가 key 값과 일치하는 행 필터링
    data_merge_mask = data_merge['code'] == key

    # df2에서 'emd_code'가 value_list에 있는 행 필터링
    cong_time_filtered = cong_time[cong_time['emd_code'].isin(value_list)]

    # 0이 아닌 값들의 평균을 구해 df1의 해당 열에 대체
    for col in ['TI_CG']:
        non_zero_mean = cong_time_filtered[col][cong_time_filtered[col] != 0].mean()
        data_merge.loc[data_merge_mask, col] = non_zero_mean

# 결과 출력
data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN

In [16]:
data_merge.to_csv("data_merge_traffic.csv", index=False, encoding='utf-8-sig')

In [17]:
oil_station = pd.read_csv("주유소3.csv")

oil_station

,Column1,주유소명,시도명,시군구명,소재지도로명주소,소재지지번주소,행정동
0,0,(주)태산이앤엘 양지셀프주유소,대구광역시,북구,대구광역시 북구 관음로 211 (읍내동),NaN,읍내동
1,1,천지주유소,대구광역시,북구,대구광역시 북구 사수로 369 (금호동),NaN,금호동
2,2,(주)에이치씨대하에너지 연경주유소,대구광역시,북구,대구광역시 북구 동화천로 207 (연경동),NaN,연경동
3,3,미니주유소,대구광역시,북구,대구광역시 북구 침산남로 224 (침산동),NaN,침산동
4,4,에이치디현대오일뱅크(주)직영 금호셀프주유소,대구광역시,북구,대구광역시 북구 사수로 436 (금호동),NaN,금호동
...,...,...,...,...,...,...,...
143,143,동승주유소,대구광역시,달서구,대구광역시 달서구 구마로 35 (본리동),NaN,본리동
144,144,대성산업(주)구마고속주유소,대구광역시,달서구,대구광역시 달서구 구마로 67 (본리동),NaN,본리동
145,145,주식회사 진천주유소,대구광역시,달서구,대구광역시 달서구 월배로 94 (진천동),NaN,진천동
146,146,상인현대Self주유소,대구광역시,달서구,대구광역시 달서구 월배로 255 (상인동),NaN,상인동
147,147,동마 제1주유소,대구광역시,달서구,대구광역시 달서구 달구벌대로 1196 (신당동),NaN,신당동

In [19]:
set(oil_station['시군구명'])

{'남구', '달서구', '북구', '중구'}

In [20]:
cong_freq = pd.read_csv("congestion_freq_intensity.csv")

cong_freq

     sido_code  sigungu_code  emd_code week_type  FRIN_CG
0        22000         22010   2201054   weekday    69.64
1        22000         22010   2201056   weekday    42.91
2        22000         22010   2201059   weekday    51.32
3        22000         22010   2201061   weekday    38.64
4        22000         22010   2201062   weekday    53.54
..         ...           ...       ...       ...      ...
136      22000         22310   2231015   weekday    34.74
137      22000         22310   2231016   weekday    32.98
138      22000         22310   2231031   weekday    43.06
139      22000         22310   2231032   weekday    38.45
140      22000         22310   2231036   weekday    16.90

[141 rows x 5 columns]

In [21]:
data_merge = pd.merge(left = data_merge, right = cong_freq[['emd_code', 'FRIN_CG']], how = 'left', left_on = 'code', right_on = 'emd_code')

data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,emd_code,FRIN_CG
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,2201054.0,69.64
...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,NaN
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,NaN
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,NaN
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,NaN
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,NaN

In [30]:
data_merge.to_csv("data_merge_traffic_freq_covered.csv", index=False, encoding='utf-8-sig')

In [23]:
data_merge = data_merge.drop('emd_code', axis = 1)

In [29]:
data_merge = pd.read_csv("data_merge_traffic_freq.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'data_merge_traffic_freq_covered.csv'

In [31]:
data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,emd_code,FRIN_CG
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,2201070.0,59.10
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,2201054.0,69.64
...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,NaN
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,NaN
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,NaN
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,NaN
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,NaN

In [32]:
oil_station = pd.read_csv("최종행정동별주유소.csv")

oil_station

     Column1    EMD_CD EMD_KOR_NM  주유소
0          0  27110101      동인동1가    2
1          1  27110102      동인동2가    1
2          2  27110103      동인동3가    0
3          3  27110104      동인동4가    0
4          4  27110105      삼덕동1가    0
..       ...       ...        ...  ...
207      207  27720330        부계면    3
208      208  27720340        우보면    2
209      209  27720350        의흥면    4
210      210  27720360        산성면    3
211      211  27720370      삼국유사면    2

[212 rows x 4 columns]

In [35]:
oil_station.sum()

Column1                                                   22366
EMD_CD                                               5771728609
EMD_KOR_NM    동인동1가동인동2가동인동3가동인동4가삼덕동1가삼덕동2가삼덕동3가봉산동장관동상서동수동...
주유소                                                         465
dtype: object

In [45]:
data_merge = pd.merge(left = data_merge, right = density[['EMD_CD', '인구밀도']], how = 'left', left_on = 'EMD_CD', right_on = 'EMD_CD')

data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454

In [38]:
data_merge = data_merge.drop('emd_code', axis = 1)

In [47]:
data_merge.to_csv("final.csv", index = False, encoding = 'utf-8-sig')

In [40]:
lpg = pd.read_csv("lpg.csv")

lpg

       EMD_CD EMD_KOR_NM  LPG충전소
0    27110101      동인동1가       0
1    27110102      동인동2가       0
2    27110103      동인동3가       0
3    27110104      동인동4가       0
4    27110105      삼덕동1가       0
..        ...        ...     ...
207  27720330        부계면       1
208  27720340        우보면       0
209  27720350        의흥면       0
210  27720360        산성면       1
211  27720370      삼국유사면       0

[212 rows x 3 columns]

In [42]:
val = pd.read_csv("최종_공시지가_평균.csv")

In [43]:
val

,EMD_CD,시도명,시군구명,소재지_행정구역명,최소값,최대값,평균,최빈값,중간값
0,2711010800,대구광역시,중구,봉산동,1025000,2707000,1569750.000,1025000,1242500
1,2711013200,대구광역시,중구,인교동,902200,1861000,1322833.333,902200,1271200
2,2711013400,대구광역시,중구,서성로1가,912900,1588000,1250450.000,912900,1250450
3,2711014000,대구광역시,중구,동산동,904000,2485000,1337916.667,904000,1090000
4,2711014100,대구광역시,중구,서문로2가,815000,815000,815000.000,815000,815000
...,...,...,...,...,...,...,...,...,...
88,2771026525,대구광역시,달성군,현풍읍 성하리,705800,1199000,952400.000,705800,952400
89,2771026526,대구광역시,달성군,현풍읍 원교리,848600,962500,905550.000,848600,905550
90,2771038021,대구광역시,달성군,구지면 창리,1124000,1731000,1427500.000,1124000,1427500
91,2771038022,대구광역시,달성군,구지면 응암리,1119000,2148000,1549142.857,1119000,1588000
92,2772032022,대구광역시,군위군,효령면 오천리,35300,35300,35300.000,35300,35300

In [44]:
density = pd.read_csv("인구밀도.csv")

density

,EMD_CD,EMD_ENG_NM,EMD_KOR_NM,인 구(명),면적(㎢),인구밀도,dong
0,27110101,Dongin-dong 1(il)-ga,동인동1가,2390,0.18,13277.77778,동인동
1,27110102,Dongin-dong 2(i)-ga,동인동2가,1088,0.20,5440,동인동
2,27110103,Dongin-dong 3(sam)-ga,동인동3가,3861,0.34,11355.88235,동인동
3,27110104,Dongin-dong 4(sa)-ga,동인동4가,2498,0.27,9251.851852,동인동
4,27110105,Samdeok-dong 1(il)-ga,삼덕동1가,88,0.11,800,삼덕동
...,...,...,...,...,...,...,...
207,27720330,Bugye-myeon,부계면,2085,64.81,32.17096127,부계면
208,27720340,Ubo-myeon,우보면,1926,60.02,32.08930357,우보면
209,27720350,Uiheung-myeon,의흥면,2263,54.25,41.71428571,의흥면
210,27720360,Sanseong-myeon,산성면,1197,36.80,32.52717391,산성면
211,27720370,Samgugyusa-myeon,삼국유사면,1300,114.60,11.34380454,고로면

In [50]:
data_merge['인구밀도'].sum()

'13277.77778544011355.882359251.85185280011426.9230814133.333335,355.566,619.746,619.746,619.745,355.563354.838712310.3448285,355.566619.745,355.566619.746619.745,355.565,355.565,355.565,355.565906.255,355.565,355.562333.3333335,355.566,153.166619.749140.6256,153.166,153.166619.746,153.166619.746619.746619.746619.746,153.166,153.166619.7451006619.746619.746619.746619.745,355.566619.745,355.565,355.566619.746619.7414398.076926,153.1621229.8136614926.1916552.8700921128.2051312283.33333186.252684.322684.32186.254065.4377883979.533979.5321560.317461096.621096.621096.6211,0003,60012,60012,60081081081081011,0003,60011,0003,6003,6003,6003,6003,6001133248.1248.1248.1248.1248.1248.1248.1248.1248.1248.1248.1248.1248.1248.118708.0210560.514336.94538.2470127520.930233181.862745116000160001600011698.165145973.769129.01307619291.6666769336.5384612872.7272712103.12512441.649283.8709689535.8974362017.03056813222.131157588.4169681534.90813630251731.216216332.25806452,4904333.27495645.989304813833.031674307.91366911776.3234447313.15192723239.285714957.66666710428.85002.429152,490187.56620.6140351045.95791818349.358299.8429,95018,15118,15121,2069167.7915665.9340711048.872182595.5326467247.7157368459.223556.241,0855,1402,6457,9367,9362,5702,54510503.1252,6542,3817718991,32310784.422119,599.598002,6452,3813120.6417112,1161,8525059.8070743,17519385.1351425261.8644118329.357810,876.883068.4507049715.26418826760.81,3233,7041,0584,2331,58710961.818181,3231662.138728364.26618052487.40458544.3144105480.0326998889.336589364.133656786.93717277479.116465994.5878434622.6245683337.4987300632.1709612732.0893035741.7142857132.5271739111.34380454'

In [49]:
data_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EMD_CD      212 non-null    int64
 1   EMD_KOR_NM  212 non-null    object
 2   si          212 non-null    object
 3   gu          212 non-null    object
 4   dong        212 non-null    object
 5   code        212 non-null    int64
 6   ALL_AADT    212 non-null    float64
 7   PSCR_AADT   212 non-null    float64
 8   BUS_AADT    212 non-null    float64
 9   FGCR_AADT   212 non-null    float64
 10  FRIN_CG     204 non-null    float64
 11  주유소         212 non-null    int64
 12  LPG충전소      212 non-null    int64
 13  인구밀도        212 non-null    object
dtypes: float64(5), int64(4), object(5)
memory usage: 23.3+ KB

In [59]:
cong_time = pd.read_csv("cong_time.csv")

cong_time

     sido_code  sigungu_code  emd_code week_type  TI_CG
0        22000         22010   2201054   weekday  84.65
1        22000         22010   2201056   weekday  62.36
2        22000         22010   2201059   weekday  71.10
3        22000         22010   2201061   weekday  56.95
4        22000         22010   2201062   weekday  69.04
..         ...           ...       ...       ...    ...
136      22000         22310   2231015   weekday  40.49
137      22000         22310   2231016   weekday  39.93
138      22000         22310   2231031   weekday  50.96
139      22000         22310   2231032   weekday  43.58
140      22000         22310   2231036   weekday  27.75

[141 rows x 5 columns]

In [68]:
data_merge = pd.merge(left = data_merge, right = landprice[['EMD_CD', '평균', '중앙값']], how = 'left', left_on = 'EMD_CD', right_on = 'EMD_CD')

data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG,평균,중앙값
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10,1.822368e+06,1815000.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10,2.258040e+06,2124000.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10,1.471884e+06,1389000.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10,1.587672e+06,1408000.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65,7.121207e+06,4793000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN,5.239890e+04,34900.0
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN,2.222184e+04,18850.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN,2.928892e+04,22200.0
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN,2.046077e+04,16100.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN,1.394696e+04,9820.0

In [56]:
cong_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시도코드     142 non-null    object
 1   시군구코드    142 non-null    object
 2   읍면동코드    142 non-null    object
 3   평일,주말구분  142 non-null    object
 4   혼잡시간강도   142 non-null    object
dtypes: object(5)
memory usage: 5.7+ KB

In [61]:
data_merge = data_merge.drop('emd_code', axis=1)

In [72]:
data_merge.to_csv("final2.csv", index=False, encoding='utf-8-sig')

In [64]:
data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN

In [67]:
landprice = pd.read_csv("landprice.csv")

landprice

       EMD_CD    시도명 시군구명    소재지            평균        중앙값
0    27110101  대구광역시   중구  동인동1가  1.822368e+06  1815000.0
1    27110102  대구광역시   중구  동인동2가  2.258040e+06  2124000.0
2    27110103  대구광역시   중구  동인동3가  1.471884e+06  1389000.0
3    27110104  대구광역시   중구  동인동4가  1.587672e+06  1408000.0
4    27110105  대구광역시   중구  삼덕동1가  7.121207e+06  4793000.0
..        ...    ...  ...    ...           ...        ...
207  27720330  대구광역시  군위군    부계면  5.239890e+04    34900.0
208  27720340  대구광역시  군위군    우보면  2.222184e+04    18850.0
209  27720350  대구광역시  군위군    의흥면  2.928892e+04    22200.0
210  27720360  대구광역시  군위군    산성면  2.046077e+04    16100.0
211  27720370  대구광역시  군위군  삼국유사면  1.394696e+04     9820.0

[212 rows x 6 columns]

In [69]:
data_merge = data_merge.rename(columns = {
    '평균' : '공시지가평균',
    '중앙값' : '공시지가중앙값'
});

In [70]:
data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG,공시지가평균,공시지가중앙값
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10,1.822368e+06,1815000.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10,2.258040e+06,2124000.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10,1.471884e+06,1389000.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10,1.587672e+06,1408000.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65,7.121207e+06,4793000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN,5.239890e+04,34900.0
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN,2.222184e+04,18850.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN,2.928892e+04,22200.0
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN,2.046077e+04,16100.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN,1.394696e+04,9820.0

In [ ]:
!pip install geopy
#데이터의 좌표주소 열을 이용해 지오코딩
for i, loc in enumerate(df['좌표주소']):
    coord = geolocator.geocode(loc)[-1]
    df.loc[i, '위도'] = coord[0]
    df.loc[i, '경도'] = coord[1]

In [82]:
tude = pd.read_csv("tude.csv")

tude

        시도  시군구 읍면동/구 읍/면/리/동   리         위도          경도
0    대구광역시  NaN   NaN     NaN NaN  35.871390  128.601763
1    대구광역시  달성군   NaN     NaN NaN  35.774600  128.431445
2    대구광역시  달성군   구지면     NaN NaN  35.658777  128.413612
3    대구광역시  달성군   구지면     도동리 NaN  35.694400  128.363700
4    대구광역시  달성군   구지면     오설리 NaN  35.680461  128.373813
..     ...  ...   ...     ...  ..        ...         ...
409  대구광역시   중구  성내3동     NaN NaN  35.872590  128.585713
410  대구광역시   중구  성내2동     NaN NaN  35.868350  128.590384
411  대구광역시   중구  성내1동     NaN NaN  35.866656  128.595769
412  대구광역시   중구   삼덕동     NaN NaN  35.865549  128.608900
413  대구광역시   중구   동인동     NaN NaN  35.867912  128.609150

[414 rows x 7 columns]

In [87]:
tude.dropna(subset = ['읍면동/구'], inplace = True)

In [88]:
tude

        시도  시군구 읍면동/구 읍/면/리/동   리         위도          경도
2    대구광역시  달성군   구지면     NaN NaN  35.658777  128.413612
3    대구광역시  달성군   구지면     도동리 NaN  35.694400  128.363700
4    대구광역시  달성군   구지면     오설리 NaN  35.680461  128.373813
5    대구광역시  달성군   구지면      징리 NaN  35.666301  128.378583
6    대구광역시  달성군   구지면     수리리 NaN  35.668000  128.396900
..     ...  ...   ...     ...  ..        ...         ...
409  대구광역시   중구  성내3동     NaN NaN  35.872590  128.585713
410  대구광역시   중구  성내2동     NaN NaN  35.868350  128.590384
411  대구광역시   중구  성내1동     NaN NaN  35.866656  128.595769
412  대구광역시   중구   삼덕동     NaN NaN  35.865549  128.608900
413  대구광역시   중구   동인동     NaN NaN  35.867912  128.609150

[405 rows x 7 columns]

In [89]:
tude = tude[tude['읍/면/리/동'].isna()]

tude

        시도  시군구 읍면동/구 읍/면/리/동   리         위도          경도
2    대구광역시  달성군   구지면     NaN NaN  35.658777  128.413612
18   대구광역시  달성군   하빈면     NaN NaN  35.900923  128.445503
28   대구광역시  달성군   가창면     NaN NaN  35.802690  128.622818
41   대구광역시  달성군   현풍읍     NaN NaN  35.697465  128.447609
53   대구광역시  달성군   옥포읍     NaN NaN  35.789589  128.463737
..     ...  ...   ...     ...  ..        ...         ...
409  대구광역시   중구  성내3동     NaN NaN  35.872590  128.585713
410  대구광역시   중구  성내2동     NaN NaN  35.868350  128.590384
411  대구광역시   중구  성내1동     NaN NaN  35.866656  128.595769
412  대구광역시   중구   삼덕동     NaN NaN  35.865549  128.608900
413  대구광역시   중구   동인동     NaN NaN  35.867912  128.609150

[310 rows x 7 columns]

In [90]:
tude.to_csv("tude_edit.csv", index=False, encoding='utf-8-sig')

In [91]:
data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG,공시지가평균,공시지가중앙값
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10,1.822368e+06,1815000.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10,2.258040e+06,2124000.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10,1.471884e+06,1389000.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10,1.587672e+06,1408000.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65,7.121207e+06,4793000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN,5.239890e+04,34900.0
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN,2.222184e+04,18850.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN,2.928892e+04,22200.0
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN,2.046077e+04,16100.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN,1.394696e+04,9820.0

In [92]:
data_merge = pd.merge(left = data_merge, right = tude[['읍면동/구', '위도', '경도']], how = 'left', left_on = 'EMD_KOR_NM', right_on = '읍면동/구')

data_merge

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG,공시지가평균,공시지가중앙값,읍면동/구,위도,경도
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10,1.822368e+06,1815000.0,동인동1가,35.872512,128.603490
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10,2.258040e+06,2124000.0,동인동2가,35.869132,128.603262
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10,1.471884e+06,1389000.0,동인동3가,35.872157,128.609925
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10,1.587672e+06,1408000.0,동인동4가,35.867700,128.610300
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65,7.121207e+06,4793000.0,삼덕동1가,35.866299,128.598363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN,5.239890e+04,34900.0,NaN,NaN,NaN
215,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN,2.222184e+04,18850.0,NaN,NaN,NaN
216,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN,2.928892e+04,22200.0,NaN,NaN,NaN
217,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN,2.046077e+04,16100.0,NaN,NaN,NaN
218,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN,1.394696e+04,9820.0,NaN,NaN,NaN

In [93]:
data_merge = data_merge.drop('읍면동/구', axis = 1)

In [94]:
data_merge.to_csv("final3.csv", index=False, encoding='utf-8-sig')

In [95]:
tude_origin = pd.read_csv("tude.csv")

tude_origin

        시도  시군구 읍면동/구 읍/면/리/동   리         위도          경도
0    대구광역시  NaN   NaN     NaN NaN  35.871390  128.601763
1    대구광역시  달성군   NaN     NaN NaN  35.774600  128.431445
2    대구광역시  달성군   구지면     NaN NaN  35.658777  128.413612
3    대구광역시  달성군   구지면     도동리 NaN  35.694400  128.363700
4    대구광역시  달성군   구지면     오설리 NaN  35.680461  128.373813
..     ...  ...   ...     ...  ..        ...         ...
409  대구광역시   중구  성내3동     NaN NaN  35.872590  128.585713
410  대구광역시   중구  성내2동     NaN NaN  35.868350  128.590384
411  대구광역시   중구  성내1동     NaN NaN  35.866656  128.595769
412  대구광역시   중구   삼덕동     NaN NaN  35.865549  128.608900
413  대구광역시   중구   동인동     NaN NaN  35.867912  128.609150

[414 rows x 7 columns]

In [7]:
data = pd.read_csv("final2.csv")

data

,EMD_CD,EMD_KOR_NM,si,gu,dong,code,ALL_AADT,PSCR_AADT,BUS_AADT,FGCR_AADT,FRIN_CG,주유소,LPG충전소,인구밀도,TI_CG,공시지가평균,공시지가중앙값
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,2,0,13277.77778,75.10,1.822368e+06,1815000
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,1,0,5440,75.10,2.258040e+06,2124000
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,11355.88235,75.10,1.471884e+06,1389000
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,59.10,0,0,9251.851852,75.10,1.587672e+06,1408000
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,69.64,0,0,800,84.65,7.121207e+06,4793000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,NaN,3,1,32.17096127,NaN,5.239890e+04,34900
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,NaN,2,0,32.08930357,NaN,2.222184e+04,18850
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,NaN,4,0,41.71428571,NaN,2.928892e+04,22200
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,NaN,3,1,32.52717391,NaN,2.046077e+04,16100
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,NaN,2,0,11.34380454,NaN,1.394696e+04,9820

In [8]:
data['si'] + data['gu'] + data['EMD_KOR_NM']

0      대구광역시중구동인동1가
1      대구광역시중구동인동2가
2      대구광역시중구동인동3가
3      대구광역시중구동인동4가
4      대구광역시중구삼덕동1가
           ...
207      경상북도군위군부계면
208      경상북도군위군우보면
209      경상북도군위군의흥면
210      경상북도군위군산성면
211    경상북도군위군삼국유사면
Length: 212, dtype: object

In [9]:
data2 = pd.read_csv("tude_edit.csv")

data2

        시도  시군구 읍면동/구  읍/면/리/동   리         위도          경도
0    대구광역시  달성군   구지면      NaN NaN  35.658777  128.413612
1    대구광역시  달성군   하빈면      NaN NaN  35.900923  128.445503
2    대구광역시  달성군   가창면      NaN NaN  35.802690  128.622818
3    대구광역시  달성군   현풍읍      NaN NaN  35.697465  128.447609
4    대구광역시  달성군   옥포읍      NaN NaN  35.789589  128.463737
..     ...  ...   ...      ...  ..        ...         ...
305  대구광역시   중구  성내3동      NaN NaN  35.872590  128.585713
306  대구광역시   중구  성내2동      NaN NaN  35.868350  128.590384
307  대구광역시   중구  성내1동      NaN NaN  35.866656  128.595769
308  대구광역시   중구   삼덕동      NaN NaN  35.865549  128.608900
309  대구광역시   중구   동인동      NaN NaN  35.867912  128.609150

[310 rows x 7 columns]

In [10]:
data2['시도'] + data2['시군구'] + data2['읍면동/구']

0      대구광역시달성군구지면
1      대구광역시달성군하빈면
2      대구광역시달성군가창면
3      대구광역시달성군현풍읍
4      대구광역시달성군옥포읍
          ...
305    대구광역시중구성내3동
306    대구광역시중구성내2동
307    대구광역시중구성내1동
308     대구광역시중구삼덕동
309     대구광역시중구동인동
Length: 310, dtype: object