In [59]:
import pandas as pd

In [68]:
data = pd.read_csv("버스차고지.csv")

data

        상호명                    주소
0   경상버스(주)    대구광역시 서구 이현동 45-52
1   우창여객(주)  대구광역시 수성구 달구벌대로 2699
2   (주)세진교통   대구광역시 수성구 만촌동 794-1
3   대일버스(주)   대구광역시 수성구 만촌동 794-1
4  신진자동차(주)    대구광역시 수성구 범물동 1290
5  삼천리버스(주)    대구광역시 수성구 신매동 79-2
6   한일운수(주)     대구광역시 수성구 화랑로 222

In [69]:
# filtered_df = data[data['주소'].isin(['서구', '수성구'])]
# filtered_df = data[data['주소'].str.contains(r'\b수성구\b', na=False)]
# filtered_df = filtered_df + data[data['주소'].str.contains(r'\b서구\b', na=False)]
# 2. 주소 컬럼에서 마지막에 '('가 있다면 그 뒤를 제거
# filtered_df['주소'] = filtered_df['주소'].str.replace(r'\(.*\)', '', regex=True)
# filtered_df['주소'] = filtered_df['주소'].str.replace(r'\d+[-]?\d*\s.*', '', regex=True)
# filtered_df['주소'] = filtered_df['주소'].str.replace(r'(\d+[-]?\d*)\s.*', r'\1', regex=True)
filtered_df = data
print(filtered_df)

        상호명                    주소
0   경상버스(주)    대구광역시 서구 이현동 45-52
1   우창여객(주)  대구광역시 수성구 달구벌대로 2699
2   (주)세진교통   대구광역시 수성구 만촌동 794-1
3   대일버스(주)   대구광역시 수성구 만촌동 794-1
4  신진자동차(주)    대구광역시 수성구 범물동 1290
5  삼천리버스(주)    대구광역시 수성구 신매동 79-2
6   한일운수(주)     대구광역시 수성구 화랑로 222

In [70]:
import requests
def get_coordinates(address, key):
    apiurl = "https://api.vworld.kr/req/address?"
    params = {
        "service": "address",
        "request": "getcoord",
        "crs": "epsg:4326",
        "address": address,
        "format": "json",
        "type": "road",
        "key": key
    }
    response = requests.get(apiurl, params=params).json()
    if response['response']['status'] == 'OK':
        point = response['response']['result']['point']
        x, y = point['x'], point['y']
    else:
        x, y = None, None
    return x, y

In [71]:
coordinates = filtered_df['주소'].apply(lambda x : get_coordinates(x, "6547C216-9F9A-3EC4-8069-724F02E9DA6A"))
filtered_df['위도'] = [i[1] for i in coordinates]
filtered_df['경도'] = [i[0] for i in coordinates]

In [72]:
# filtered_df = filtered_df.drop('Column1', axis=1)
filtered_df

        상호명                    주소            위도             경도
0   경상버스(주)    대구광역시 서구 이현동 45-52          None           None
1   우창여객(주)  대구광역시 수성구 달구벌대로 2699  35.854099314  128.656512204
2   (주)세진교통   대구광역시 수성구 만촌동 794-1          None           None
3   대일버스(주)   대구광역시 수성구 만촌동 794-1          None           None
4  신진자동차(주)    대구광역시 수성구 범물동 1290          None           None
5  삼천리버스(주)    대구광역시 수성구 신매동 79-2          None           None
6   한일운수(주)     대구광역시 수성구 화랑로 222  35.877829536  128.649405797

In [58]:
filtered_df.to_csv("주유소LPG/서구주유소.csv", index = False, encoding = 'utf-8-sig')