In [30]:
import re

In [85]:
gunwi = ['경상북도 군위군 군위읍', 
 '경상북도 군위군 소보면',
 '경상북도 군위군 효령면',
 '경상북도 군위군 부계면',
 '경상북도 군위군 우보면',
 '경상북도 군위군 의흥면',
 '경상북도 군위군 산성면',
 '경상북도 군위군 고로면']

In [78]:
# lpg_addr['ADDR'] = lpg_addr['ADDR'].apply(lambda x : re.split(r'd+', x)[0])

donggu['영업소소재지(도로명)'] = donggu['영업소소재지(도로명)'].str.extract(r'(.+\d+)', expand=False)

donggu['영업소소재지(도로명)'] = donggu['영업소소재지(도로명)'].apply(lambda x : x.split('(')[0])

In [3]:
import geopy.distance
import pandas as pd

In [17]:
lpg_file_path = '구별LPG충전소_위도경도.csv'
lpg_data = pd.read_csv('주유소LPG/' + lpg_file_path)
lpg_data = lpg_data[lpg_data['EMD_NM'].str.contains(r'\b(중구|서구|수성구)\b', na=False)]

oil_file_path = '주유소수성구서구중구.csv'
oil_data = pd.read_csv("주유소LPG/" + oil_file_path)

lpg_data

C:\Users\82102\AppData\Local\Temp\ipykernel_7420\1604705264.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  lpg_data = lpg_data[lpg_data['EMD_NM'].str.contains(r'\b(중구|서구|수성구)\b', na=False)]

,EMD_NM,CHARGE_NM,ADDR,TEL,TYPE,위도,경도
49,대구 서구,신대한LPG,대구광역시 서구 서대구로 121,053-566-2609,자동차충전,35.870822,128.554039
50,대구 서구,청구엘피지충전소,대구광역시 서구 국채보상로 92,053-552-1123,자동차충전,35.868409,128.541218
51,대구 서구,서대구IC충전소,대구광역시 서구 북비산로 48,053-566-0009,자동차충전,35.878491,128.537390
52,대구 서구,대기에너지(주),대구광역시 서구 국채보상로 25,053-552-3000,자동차충전,35.868912,128.546366
53,대구 서구,화성가스(주),대구광역시 서구 와룡로 346,053-565-0223,용기+자동차+탱크+13kg용기,35.863429,128.537913
54,대구 수성구,대구개인택시운송사업조합제1충전소,대구광역시 수성구 수성로 286,053-763-0153,자동차충전,35.837735,128.611990
55,대구 수성구,(주)동일가스,대구광역시 수성구 청수로 1,053-762-8855,자동차충전,35.840290,128.636242
56,대구 수성구,대공원충전소(주),대구광역시 수성구 동대구로 255,053-763-6022,자동차충전,35.866661,128.627052
57,대구 수성구,(주)삼원에너지,대구광역시 수성구 달구벌대로 2780,053-759-7700,자동차충전,35.859923,128.627998
58,대구 수성구,동대구가스충전소,대구광역시 수성구 국채보상로 913,053-755-0401,자동차충전,35.866301,128.638717
59,대구 수성구,상동엘피지충전소,대구광역시 수성구 신천동로 51,053-764-5050,자동차충전,35.829693,128.608164
60,대구 중구,SK엔크린 조양주유소,대구광역시 중구 달구벌대로 2194,053-427-5151,NaN,35.861386,128.604557
61,대구 중구,SK엔크린 KK직영 중앙주유소,대구광역시 중구 국채보상로 642,053-422-8010,NaN,35.867947,128.612263
62,대구 중구,SK엔크린 KK 유성셀프주유소,대구광역시 중구 동덕로 6,053-424-5775,NaN,35.864727,128.603873
63,대구 중구,SK엔크린 행운셀프주유소,대구광역시 중구 태평로 105,053-421-5145,NaN,35.873341,128.608776

In [47]:
emd_data = pd.read_csv("동별데이터최종.csv")

In [46]:
suso_file_path = '기존수소충전소.csv'
suso_data = pd.read_csv(suso_file_path)
suso_data

            수소충전소                          주소         위도          경도
0  대구 주행시험장 수소충전소  대구 달성군 구지면 국가산단서로 201 (창리)  35.646666  128.400978
1    하이넷 성서 수소충전소       대구 달서구 성서공단로 97 (갈산동)  35.843935  128.490143
2       대구관음수소충전소         대구 북구 관음로 127 (관음동)  35.942909  128.541579
3     대구혁신도시수소충전소         대구 동구 첨단로 120 (신서동)  35.886742  128.730106
4           합천주유소                       대구 서구  35.889664  128.545020
5           담티주유소                      대구 수성구  35.854430  128.655624
6           조양주유소                       대구 중구  35.862650  128.603198

In [48]:
## import pandas as pd
from geopy.distance import geodesic

# 거리 계산 결과를 저장할 리스트
distances = []

# 각 동과 수소충전소 간 거리 계산
for i, emd_row in emd_data.iterrows():
    for j, suso_row in suso_data.iterrows():
        emd_coord = (emd_row['위도'], emd_row['경도'])
        suso_coord = (suso_row['위도'], suso_row['경도'])
        distance = geodesic(emd_coord, suso_coord).meters  # 거리(m)
        distances.append([emd_row['지도코드'], suso_row['수소충전소'], distance])

# 결과를 데이터프레임으로 변환
df_distances = pd.DataFrame(distances, columns=['지도코드', '수소충전소', '거리(m)'])
print(df_distances)

          지도코드           수소충전소         거리(m)
0     27110101  대구 주행시험장 수소충전소  31037.970512
1     27110101    하이넷 성서 수소충전소  10717.843624
2     27110101       대구관음수소충전소   9604.428937
3     27110101     대구혁신도시수소충전소  11541.943987
4     27110101           합천주유소   5612.285090
...        ...             ...           ...
1423  27710380       대구관음수소충전소  33580.902669
1424  27710380     대구혁신도시수소충전소  38193.617268
1425  27710380           합천주유소  28239.389292
1426  27710380           담티주유소  30827.287306
1427  27710380           조양주유소  28384.027751

[1428 rows x 3 columns]

In [11]:
## import pandas as pd
from geopy.distance import geodesic

# 거리 계산 결과를 저장할 리스트
distances = []

# 각 주유소와 민감시설들 간 거리 계산
for i, oil_row in oil_data.iterrows():
    for j, sens_row in sens_data.iterrows():
        oil_coord = (oil_row['위도'], oil_row['경도'])
        sens_coord = (sens_row['위도'], sens_row['경도'])
        distance = geodesic(oil_coord, sens_coord).meters  # 거리(m)
        distances.append([oil_data.iloc[i, 1], sens_data.iloc[j, 2], distance])

# 결과를 데이터프레임으로 변환
df_distances = pd.DataFrame(distances, columns=['oil_nm', 'sens_addr', '거리(m)'])
print(df_distances)

           oil_nm                          sens_addr        거리(m)
0      SK수성대경대흥석유         대구광역시 서구 달구벌대로 365길 21-5    5599.575292
1      SK수성대경대흥석유               대구광역시 서구 서대구로8길 15    6015.600030
2      SK수성대경대흥석유               대구광역시 서구 서대구로8길 49    5681.842305
3      SK수성대경대흥석유                  대구광역시 서구 통학로 46    5550.513429
4      SK수성대경대흥석유                  대구광역시 서구 통학로 39    5629.466053
...           ...                                ...          ...
85855       태양주유소      대구광역시 중구 국채보상로139길 41 (동인동1가)  3116.038778
85856       태양주유소      대구광역시 중구 국채보상로139길 41 (동인동1가)  3116.038778
85857       태양주유소      대구광역시 중구 국채보상로139길 41 (동인동1가)  3116.038778
85858       태양주유소  대구광역시 수성구 명덕로 414, 10~12층 (수성동2가)  4416.401036
85859       태양주유소            대구광역시 서구 서대구로 194 (평리동)  1531.107153

[85860 rows x 3 columns]

In [25]:
min_distance.to_csv("distance.csv", index=False, encoding='utf-8-sig')
min_distance2.to_csv("distance2.csv", index=False, encoding='utf-8-sig')

In [44]:
min_distance2 = pd.read_csv("distance2.csv")

min_distance2

               lpg_nm       거리(m)
0             (주)동일가스  131.655611
1            (주)삼원에너지   52.364994
2    SK엔크린 KK 유성셀프주유소   53.936949
3    SK엔크린 KK직영 중앙주유소  137.507418
4         SK엔크린 조양주유소   16.422792
5       SK엔크린 행운셀프주유소  250.746864
6           대공원충전소(주)  118.385330
7   대구개인택시운송사업조합제1충전소   96.410071
8            대기에너지(주)  122.161023
9            동대구가스충전소  107.329346
10           상동엘피지충전소  374.780870
11           서대구IC충전소  628.494069
12             신대한LPG  117.983615
13           청구엘피지충전소  326.583183
14            화성가스(주)  431.415391

In [106]:
df_distances['거리(m)'].min()

37.27445484944126

In [49]:
# 1. 행정동별로 주유소 간 거리의 최솟값
min_distance = df_distances.groupby('지도코드')['거리(m)'].min().reset_index()
min_distance.columns = ['지도코드', '거리_최솟값']
min_distance

         지도코드       거리_최솟값
0    27110101  1094.578106
1    27110102   719.240111
2    27110103  1217.291089
3    27110104   851.669485
4    27110105   595.529277
..        ...          ...
199  27710262  6484.940281
200  27710265  7042.149437
201  27710310  6460.960944
202  27710330  7499.056812
203  27710380  1764.850518

[204 rows x 2 columns]

In [50]:
# 2. 행정동별로 가장 작은 거리 2개의 평균
top2_mean_distance = (
    df_distances.groupby('지도코드')['거리(m)']
    .apply(lambda x: x.nsmallest(2).mean())
    .reset_index()
)
top2_mean_distance.columns = ['지도코드', '최소거리2개평균']

In [52]:
# 결과를 하나의 데이터프레임으로 합치기
result = min_distance.merge(top2_mean_distance, on='지도코드')
print(result)

         지도코드       거리_최솟값      최소거리2개평균
0    27110101  1094.578106   3106.442462
1    27110102   719.240111   2861.001555
2    27110103  1217.291089   2894.745693
3    27110104   851.669485   2601.068604
4    27110105   595.529277   2966.270145
..        ...          ...           ...
199  27710262  6484.940281   9898.772817
200  27710265  7042.149437  11871.248092
201  27710310  6460.960944   6673.021500
202  27710330  7499.056812   8285.104793
203  27710380  1764.850518  11721.815084

[204 rows x 3 columns]

In [54]:
emd_data.to_csv("동별데이터최종2.csv", index=False, encoding='utf-8-sig')

In [53]:
emd_data = emd_data.merge(result, on='지도코드')
emd_data

,지도코드,지도_동,시,구,동,행정코드,총교통량,개인승용차교통량,버스교통량,화물차교통량,...,부동산,소매,수리·개인,숙박,시설관리·임대,예술·스포츠,음식,상업수,거리_최솟값,최소거리2개평균
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,3,26,5,1,33,2,61,156,1094.578106,3106.442462
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,7,33,11,9,41,5,86,234,719.240111,2861.001555
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,5,48,28,1,14,4,20,187,1217.291089,2894.745693
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,9,72,54,0,17,9,156,390,851.669485,2601.068604
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,...,16,188,54,2,7,43,255,633,595.529277,2966.270145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,27710262,옥포읍,대구광역시,달성군,옥포면,2231015,6818.0,4861.0,192.0,1765.0,...,36,165,86,10,19,31,247,665,6484.940281,9898.772817
200,27710265,현풍읍,대구광역시,달성군,현풍면,2231016,7982.0,5157.0,199.0,2626.0,...,58,310,192,9,52,47,508,1264,7042.149437,11871.248092
201,27710310,가창면,대구광역시,달성군,가창면,2231031,3199.0,2522.0,149.0,527.0,...,22,85,21,15,10,14,168,373,6460.960944,6673.021500
202,27710330,하빈면,대구광역시,달성군,하빈면,2231032,2345.0,1551.0,70.0,724.0,...,16,57,15,3,13,3,57,175,7499.056812,8285.104793
203,27710380,구지면,대구광역시,달성군,구지면,2231036,2409.0,1710.0,92.0,606.0,...,42,103,68,8,18,25,290,608,1764.850518,11721.815084

In [22]:

# 1. 행정동별로 주유소 간 거리의 최솟값
min_distance = df_distances.groupby('행정동_index')['거리(m)'].min().reset_index()
min_distance.columns = ['행정동_index', '최솟값']

# 2. 행정동별로 가장 작은 거리 3개의 평균
top3_mean_distance = (
    df_distances.groupby('행정동_index')['거리(m)']
    .apply(lambda x: x.nsmallest(3).mean())
    .reset_index()
)
top3_mean_distance.columns = ['행정동_index', '가장 작은 거리 3개 평균']

# 3. 행정동별로 가장 작은 거리 5개의 평균
top5_mean_distance = (
    df_distances.groupby('행정동_index')['거리(m)']
    .apply(lambda x: x.nsmallest(5).mean())
    .reset_index()
)
top5_mean_distance.columns = ['행정동_index', '가장 작은 거리 5개 평균']

# 결과를 하나의 데이터프레임으로 합치기
result = min_distance.merge(top3_mean_distance, on='행정동_index').merge(top5_mean_distance, on='행정동_index')
print(result)

   행정동_index          최솟값  가장 작은 거리 3개 평균  가장 작은 거리 5개 평균
0         28   560.103027      673.659181      735.787281
1        165  2026.431353     2303.241632     2500.483201
2        167   978.753763     1130.062718     1272.043983

In [27]:
rank = pd.read_csv("최종순위.csv")

In [45]:
min_distance2 = min_distance2.sort_values(by="거리(m)", ascending=False)
min_distance2.to_csv("최종순위2.csv", index=False, encoding='utf-8-sig')

In [108]:
result.to_csv("access_suso.csv", index=False, encoding='utf-8-sig')

In [53]:
data = pd.read_csv("data_merge.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지도코드        212 non-null    int64
 1   지도_동        212 non-null    object
 2   시           212 non-null    object
 3   구           212 non-null    object
 4   동           212 non-null    object
 5   행정코드        212 non-null    int64
 6   총교통량        212 non-null    float64
 7   개인승용차교통량    212 non-null    float64
 8   버스교통량       212 non-null    float64
 9   화물차교통량      212 non-null    float64
 10  혼잡빈도강도      212 non-null    float64
 11  주유소_개수      212 non-null    int64
 12  LPG충전소_개수   212 non-null    int64
 13  인구밀도        212 non-null    object
 14  혼잡시간강도      212 non-null    float64
 15  공시지가평균      212 non-null    float64
 16  공시지가중앙값     212 non-null    int64
 17  위도          212 non-null    float64
 18  경도          212 non-null    float64
 19  주유소_최솟값     212 non-null    float64
 20  주유소_최소3개평균  212 non-null    float64
 21  주유소_최소5개평균  212 non-null    float64
 22  lpg_최솟값     212 non-null    float64
 23  lpg_최소3개평균  212 non-null    float64
 24  lpg_최소5개평균  212 non-null    float64
dtypes: float64(15), int64(5), object(5)
memory usage: 41.5+ KB

In [39]:
sanggun = pd.read_csv("상권.csv")

sanggun

,Unnamed: 0,EMD_CD,EMD_KOR_NM,주유소,과학·기술,교육,보건의료,부동산,소매,수리·개인,숙박,시설관리·임대,예술·스포츠,음식,상업수
0,0,27110101,동인동1가,2,24.0,1.0,0.0,3.0,26.0,5.0,1.0,33.0,2.0,61.0,156.0
1,1,27110102,동인동2가,1,33.0,7.0,2.0,7.0,33.0,11.0,9.0,41.0,5.0,86.0,234.0
2,2,27110103,동인동3가,0,62.0,5.0,0.0,5.0,48.0,28.0,1.0,14.0,4.0,20.0,187.0
3,3,27110104,동인동4가,0,65.0,7.0,1.0,9.0,72.0,54.0,0.0,17.0,9.0,156.0,390.0
4,4,27110105,삼덕동1가,0,30.0,13.0,25.0,16.0,188.0,54.0,2.0,7.0,43.0,255.0,633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,207,27720330,부계면,3,3.0,2.0,0.0,11.0,35.0,6.0,27.0,1.0,4.0,76.0,165.0
208,208,27720340,우보면,2,3.0,0.0,0.0,2.0,17.0,5.0,1.0,1.0,1.0,18.0,48.0
209,209,27720350,의흥면,4,1.0,0.0,0.0,3.0,30.0,9.0,2.0,0.0,2.0,37.0,84.0
210,210,27720360,산성면,3,2.0,0.0,0.0,0.0,16.0,3.0,2.0,1.0,2.0,20.0,46.0
211,211,27720370,삼국유사면,2,1.0,1.0,0.0,0.0,7.0,0.0,8.0,2.0,0.0,15.0,34.0

In [41]:
data_merge = pd.merge(left = data, right = sanggun, how = 'left', left_on = '지도코드', right_on = 'EMD_CD')

data_merge

,지도코드,지도_동,시,구,동,행정코드,총교통량,개인승용차교통량,버스교통량,화물차교통량,...,교육,보건의료,부동산,소매,수리·개인,숙박,시설관리·임대,예술·스포츠,음식,상업수
0,27110101,동인동1가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,1.0,0.0,3.0,26.0,5.0,1.0,33.0,2.0,61.0,156.0
1,27110102,동인동2가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,7.0,2.0,7.0,33.0,11.0,9.0,41.0,5.0,86.0,234.0
2,27110103,동인동3가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,5.0,0.0,5.0,48.0,28.0,1.0,14.0,4.0,20.0,187.0
3,27110104,동인동4가,대구광역시,중구,동인동,2201070,11508.0,9861.0,427.0,1221.0,...,7.0,1.0,9.0,72.0,54.0,0.0,17.0,9.0,156.0,390.0
4,27110105,삼덕동1가,대구광역시,중구,삼덕동,2201054,16679.0,14398.0,537.0,1744.0,...,13.0,25.0,16.0,188.0,54.0,2.0,7.0,43.0,255.0,633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,27720330,부계면,경상북도,군위군,부계면,3731033,5394.0,3369.0,116.0,1908.0,...,2.0,0.0,11.0,35.0,6.0,27.0,1.0,4.0,76.0,165.0
208,27720340,우보면,경상북도,군위군,우보면,3731034,1900.0,1250.0,33.0,617.0,...,0.0,0.0,2.0,17.0,5.0,1.0,1.0,1.0,18.0,48.0
209,27720350,의흥면,경상북도,군위군,의흥면,3731035,1594.0,1017.0,30.0,547.0,...,0.0,0.0,3.0,30.0,9.0,2.0,0.0,2.0,37.0,84.0
210,27720360,산성면,경상북도,군위군,산성면,3731036,2671.0,1540.0,65.0,1067.0,...,0.0,0.0,0.0,16.0,3.0,2.0,1.0,2.0,20.0,46.0
211,27720370,삼국유사면,경상북도,군위군,고로면,3731037,1542.0,935.0,27.0,580.0,...,1.0,0.0,0.0,7.0,0.0,8.0,2.0,0.0,15.0,34.0

In [42]:
data_merge.columns

Index(['지도코드', '지도_동', '시', '구', '동', '행정코드', '총교통량', '개인승용차교통량', '버스교통량',
       '화물차교통량', '혼잡빈도강도', '주유소_개수', 'LPG충전소_개수', '인구밀도', '혼잡시간강도', '공시지가평균',
       '공시지가중앙값', '위도', '경도', '주유소_최솟값', '주유소_최소3개평균', '주유소_최소5개평균', 'lpg_최솟값',
       'lpg_최소3개평균', 'lpg_최소5개평균', 'Unnamed: 0', 'EMD_CD', 'EMD_KOR_NM', '주유소',
       '과학·기술', '교육', '보건의료', '부동산', '소매', '수리·개인', '숙박', '시설관리·임대', '예술·스포츠',
       '음식', '상업수'],
      dtype='object')

In [57]:
data_merge.to_csv("data_merge.csv", index=False, encoding='utf-8-sig')

In [43]:
data_merge = data_merge.drop(['Unnamed: 0', 'EMD_CD', 'EMD_KOR_NM'], axis=1)

In [44]:
gu_data = pd.read_csv("구별데이터병합.csv")

gu_data

   Unnamed: 0 시군구별  경제활동인구  화재발생건수     수소      LPG     전체차량수
0           0   중구   48000      73   20.0   3366.0   61899.0
1           1   동구  168000     179  101.0  16622.0  175595.0
2           2   서구   82000     127   38.0   7475.0   76907.0
3           3   남구   70000      67   29.0   5345.0   56372.0
4           4   북구  221000     221  116.0  18573.0  210853.0
5           5  수성구  186000     123   93.0  13867.0  221717.0
6           6  달서구  276000     243  184.0  23651.0  294095.0
7           7  달성군  142000     218   96.0  11197.0  146392.0
8           8  군위군   15000      42    4.0   1093.0   16046.0

In [45]:
gu_data = gu_data.drop('Unnamed: 0', axis = 1)

In [125]:
gu_data

  시군구별  경제활동인구  화재발생건수     수소      LPG     전체차량수
0   중구   48000      73   20.0   3366.0   61899.0
1   동구  168000     179  101.0  16622.0  175595.0
2   서구   82000     127   38.0   7475.0   76907.0
3   남구   70000      67   29.0   5345.0   56372.0
4   북구  221000     221  116.0  18573.0  210853.0
5  수성구  186000     123   93.0  13867.0  221717.0
6  달서구  276000     243  184.0  23651.0  294095.0
7  달성군  142000     218   96.0  11197.0  146392.0
8  군위군   15000      42    4.0   1093.0   16046.0

In [46]:
import pandas as pd

# '구' 컬럼을 기준으로 합치기
gu_merge = pd.merge(gu_data, data_merge, how='left', left_on = '시군구별', right_on = '구')

# 수치형 컬럼에 대해서만 평균 계산
numeric_cols = gu_merge.select_dtypes(include='number').columns
result_df = gu_merge.groupby('구', as_index=False)[numeric_cols].mean()

# 문자열 컬럼은 첫 번째 값으로 유지
string_cols = gu_merge.select_dtypes(exclude='number').columns
for col in string_cols:
    result_df[col] = gu_merge.groupby('구', as_index=False)[col].first()[col]

print(result_df)

     구    경제활동인구  화재발생건수     수소      LPG     전체차량수          지도코드  \
0  군위군   15000.0    42.0    4.0   1093.0   16046.0  2.772033e+07
1   남구   70000.0    67.0   29.0   5345.0   56372.0  2.720010e+07
2  달서구  276000.0   243.0  184.0  23651.0  294095.0  2.729011e+07
3  달성군  142000.0   218.0   96.0  11197.0  146392.0  2.771028e+07
4   동구  168000.0   179.0  101.0  16622.0  175595.0  2.714012e+07
5   북구  221000.0   221.0  116.0  18573.0  210853.0  2.723012e+07
6   서구   82000.0   127.0   38.0   7475.0   76907.0  2.717010e+07
7  수성구  186000.0   123.0   93.0  13867.0  221717.0  2.726011e+07
8   중구   48000.0    73.0   20.0   3366.0   61899.0  2.711013e+07

           행정코드          총교통량      개인승용차교통량  ...         숙박     시설관리·임대  \
0  3.731031e+06   4060.750000   2540.500000  ...   6.875000    3.000000
1  2.204053e+06   8718.875000   7505.916667  ...  19.666667  109.333333
2  2.207063e+06   8578.166667   6830.145833  ...   5.625000   28.833333
3  2.231020e+06   4825.333333   3431.111111  ...   7.222222   29.888889
4  2.202070e+06   9012.894444   6704.927778  ...   4.409091   10.909091
5  2.205071e+06   9836.435484   7553.161290  ...   3.580645   15.387097
6  2.203063e+06  13072.666667  10017.422222  ...  11.888889   33.666667
7  2.206067e+06   8824.025641   7239.903846  ...   2.692308   20.500000
8  2.201059e+06   8574.409357   7214.263158  ...   2.245614    8.701754

      예술·스포츠          음식          상업수  시군구별   지도_동      시    동         인구밀도
0   3.750000   49.875000   135.750000   군위군    군위읍   경상북도  군위읍  94.58784346
1  82.666667  834.666667  2593.666667    남구    이천동  대구광역시  이천동  11698.16514
2  47.833333  299.375000   863.625000   달서구    성당동  대구광역시  성당동  10784.42211
3  46.444444  362.000000   933.444444   달성군    화원읍  대구광역시  화원읍  1662.138728
4  13.545455  109.636364   321.363636    동구    신암동  대구광역시  신암동  16552.87009
5  26.096774  187.580645   532.161290    북구  칠성동1가  대구광역시  칠성동         3076
6  33.555556  293.111111   858.111111    서구    내당동  대구광역시  내당동     18708.02
7  30.884615  208.500000   677.115385   수성구    범어동  대구광역시  범어동     18349.35
8   4.526316   60.315789   238.491228    중구  동인동1가  대구광역시  동인동  13277.77778

[9 rows x 43 columns]

In [49]:
result_df.to_csv("final_gu_result.csv", index=False, encoding='utf-8-sig')

In [48]:
result_df = result_df.drop(['지도코드', '행정코드', '위도', '경도', '시군구별', '지도_동', '시', '동'], axis = 1)

In [35]:
result_df = pd.read_csv("구별데이터최종.csv")

In [39]:
result_df = result_df.drop(index=0)

numeric_df = result_df.select_dtypes(include='number')

# 상관분석 수행
corr_df = numeric_df.corr()

In [41]:
corr_df.to_csv("corr_df2.csv", encoding='utf-8-sig')

In [34]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   구           9 non-null      object
 1   경제활동인구      9 non-null      int64
 2   화재발생건수      9 non-null      int64
 3   수소차대수       9 non-null      int64
 4   LPG차대수      9 non-null      int64
 5   전체차량수       9 non-null      int64
 6   총교통량        9 non-null      float64
 7   개인승용차교통량    9 non-null      float64
 8   버스교통량       9 non-null      float64
 9   화물차교통량      9 non-null      float64
 10  혼잡빈도강도      9 non-null      float64
 11  주유소_개수      9 non-null      float64
 12  LPG충전소_개수   9 non-null      float64
 13  혼잡시간강도      9 non-null      float64
 14  공시지가평균      9 non-null      float64
 15  공시지가중앙값     9 non-null      float64
 16  주유소_최솟값     9 non-null      float64
 17  주유소_최소3개평균  9 non-null      float64
 18  주유소_최소5개평균  9 non-null      float64
 19  lpg_최솟값     9 non-null      float64
 20  lpg_최소3개평균  9 non-null      float64
 21  lpg_최소5개평균  9 non-null      float64
 22  주유소         9 non-null      float64
 23  과학·기술       9 non-null      float64
 24  교육          9 non-null      float64
 25  보건의료        9 non-null      float64
 26  부동산         9 non-null      float64
 27  소매          9 non-null      float64
 28  수리·개인       9 non-null      float64
 29  숙박          9 non-null      float64
 30  시설관리·임대     9 non-null      float64
 31  예술·스포츠      9 non-null      float64
 32  음식          9 non-null      float64
 33  상업수         9 non-null      float64
 34  인구밀도        9 non-null      float64
dtypes: float64(29), int64(5), object(1)
memory usage: 2.6+ KB

In [2]:
result_df = result_df.drop()'수소차대수', '총교통량', '인구밀도', '주유소lpg 접근성', '상업수' df['주유소_최소3개평균'] + df['lpg_최소3개평균']

In [54]:
result_df['인구밀도'] = result_df['인구밀도'].str.replace(',', '').astype(float)